@import "bootstrap";

body {
  padding: 40px;
}

.center { text-align: center; }

table {
  .center {
    vertical-align: middle;
    text-align: center;
  }
  .right {
    text-align: right;
  }
}

.center-text {
  text-align: center;
}

@media print {
  .hide-when-print {
    display: none;
  }
}

.page-break {
  page-break-before: always;
}
